//App

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  height: 100%;
  background-color: black;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//title

.title {
  width: 310px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}
